<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-title>Make Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="requestForm" (ngSubmit)="requestDriver(requestForm.value)">
 <ion-card>
    <ion-item>
     <ion-label position="floating">Destination</ion-label>
     <ion-input type="text" formControlName="destination"></ion-input>
    </ion-item>
 <ion-item>
   <ion-label position="floating">Reason</ion-label>
   <ion-textarea formControlName="purpose"></ion-textarea>
 </ion-item>

 <ion-item>
  <ion-label position="floating">Number of people</ion-label>
  <ion-input type="number" formControlName="no_of_people"></ion-input>
 
</ion-item>
 
<ion-item>
  <ion-label position="floationg">Date</ion-label>
  <ion-datetime  display-format="D, MMMM YYYY" [min]="minDate"  formControlName="date"></ion-datetime>
</ion-item>


  <ion-item>
  <ion-label position="floating">Time</ion-label>
  <ion-datetime  display-format="hh mm A" [min]="minTime" formControlName="due_time"></ion-datetime>
  </ion-item>
</ion-card>



<ion-button color="primary" expand="block" type="submit" >Request</ion-button>
</form>

</ion-content>
