
<ion-header [collapse]="condense" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end" >
      <ion-button (click)="logout()">
        <ion-icon    slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="large" style="font-size: 30px;"><b>Requests</b></ion-title>
      </ion-toolbar>
  
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTerm"></ion-searchbar>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content 
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refreshing...">
    </ion-refresher-content>  
  </ion-refresher>

  <ion-list *ngFor= "let histories of (history | requestFilter: searchTerm)">
    <ion-item>
      <ion-label>
        <h1><b>{{histories.destination}}</b></h1>
        <p>{{histories.purpose}}</p>
        <p>{{histories.no_of_people}} people</p>
        <p>{{histories.date}}, {{histories.due_time}}</p>
      </ion-label>
        <ion-note slot="end" style="font-size: 15px;" color="dark">Pending</ion-note>
    </ion-item>
    </ion-list>
    
    
  
    
        
    
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button (click)="openModal()"><ion-icon name="add"></ion-icon></ion-fab-button>
 
          
        </ion-fab>

 
</ion-content>
